@using MarketGid.Core.Models

@foreach (Category category in ViewBag.Category.Children) {
	<li class="mgid-tile">
		<div class="thumbnail mgid-thumb" data-category="@category.Id">
			<h3>@category.Name</h3>
			<p></p>
		</div>
	</li>
}
@foreach (MapObject mapObject in ViewBag.Category.Objects) {
	<li class="mgid-tile">
		<div class="thumbnail mgid-thumb" data-object="@(mapObject.Id)">
			<h4>@mapObject.Name</h4>
			<p>@Html.Raw(mapObject.TileDescription)</p>
		</div>
	</li>
}
