@using MarketGid.Core.Models

@{
	const int MAX_TOTAL = 140;
	int count = 0;
}

@if (string.IsNullOrWhiteSpace(ViewBag.QueryString)) {
	<div class="mgid-keyboard input" id="ipad"></div>
	@Html.Partial("_Keyboard")
} else {
	<div class="mgid-keyboard input" id="ipad">@ViewBag.QueryString</div>
	@Html.Partial("_Keyboard")
}
<div class="mgid-box-wrap antiscroll-wrap">
	<div class="mgid-box antiscroll-inner">
		<ul class="thumbnails">
		@foreach (Category category in ViewBag.Category.Children) {
			count += 1;
			if (count >= MAX_TOTAL) 
			{
				continue;
			}
			<li class="mgid-tile">
				<div class="thumbnail mgid-thumb" data-category="@category.Id">
					<h3>@category.Name</h3>
					<p></p>
				</div>
			</li>
		}
		@foreach (MapObject mapObject in ViewBag.Category.Objects) {
			count += 1;
			if (count >= MAX_TOTAL) 
			{
				continue;
			}
			<li class="mgid-tile">
				<div class="thumbnail mgid-thumb" data-object="@(mapObject.Id)">
					<h4>@(string.IsNullOrWhiteSpace(mapObject.TileName) ? mapObject.Name : mapObject.TileName)</h4>
					<p>@Html.Raw(mapObject.TileDescription)</p>
				</div>
			</li>
		}
		</ul>
	</div>
</div>

<script type="text/javascript">
	var el = $('.antiscroll-wrap');
	var inner = el.find('.antiscroll-inner');
	if (inner.get(0).scrollHeight - 20 > el.height()) {
		el.antiscroll({ autoHide: false });
		$('.mgid-tile').css('width', '228px');
	}
</script>