@using MarketGid.Core.Models

@{
	const int MAX_TOTAL = 20;
	int count = 0;
}

@foreach (Category category in ViewBag.Category.Children) {
	count += 1;
	if (count >= MAX_TOTAL) 
	{
		continue;
	}
	<li class="mgid-tile">
		<div class="thumbnail mgid-thumb" data-category="@category.Id">
			<h3>@category.Name</h3>
			<p></p>
		</div>
	</li>
}
@foreach (MapObject mapObject in ViewBag.Category.Objects) {
	count += 1;
	if (count >= MAX_TOTAL) 
	{
		continue;
	}
	<li class="mgid-tile">
		<div class="thumbnail mgid-thumb" data-object="@(mapObject.Id)">
			<h4>@mapObject.Name</h4>
			<p>@Html.Raw(mapObject.TileDescription)</p>
		</div>
	</li>
}
