@using MarketGid.Core.Models

@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="main-header">
	<img src="@Url.Content(ViewBag.TopAdvertisement.Uri)" alt="top advertisement" id="MainScreenTop" />
</div>
<div class="main-content-container">	
	<div class="main-content">
		<div class="main-content-title">
			@Html.Partial("_Title")
			<!--a href="/" id="back-link"><img src="~/Content/images/black_arrow_left.png" alt="Back" /></a> <span id="title">МОСФИЛЬМ</span-->
		</div>
		<div class="main-container">
			<div class="main-menu" id="container"> <!--style="padding-left: 110px;"-->
				<input type="text" class="mgid-keyboard" placeholder="Введите название или услугу..." id="ipad" />
				<ul class="thumbnails">
					@foreach (Category category in ViewBag.Categories) {
						<li class="mgid-tile">
							<div class="thumbnail mgid-thumb" data-category="@category.Id">
								<h3>@category.Name</h3>
								<p></p>
							</div>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="main-footer">
	<img src="@Url.Content(ViewBag.BottomAdvertisement.Uri)" alt="bottom advertisement" id="MainScreenBottom" />
</div>

@section scripts {
	<script type="text/javascript" src="~/Scripts/map.js"></script>
	<script type="text/javascript" src="~/Scripts/graph.js"></script>
	<script type="text/javascript" src="~/Scripts/map-manager.js"></script>
	<script type="text/javascript" src="~/Scripts/edges.js"></script>
	<script type="text/javascript" src="~/Scripts/paths.js"></script>
	<script type="text/javascript" src="~/Scripts/junctions.js"></script>
	<script type="text/javascript" src="~/Scripts/maps.js"></script>

	<script type="text/javascript">
		$(document).ready(function () {
			Menu.init({
				mainMenuUri: '@Url.Content("~/main/category/")',
				subMenuUri: '@Url.Content("~/main/category/")',
				titleUri: '@Url.Content("~/main/title")',
				objectUri: '@Url.Content("~/main/object/")',
				objectDetailsUri: '@Url.Content("~/main/objectdetails/")',
				homeUri: '@Url.Content("~/home")',
				findUri: '@Url.Content("~/main/find?q=")',
				thumbnailsContainer: '.thumbnails',
				thumbnails: '.mgid-thumb',
				backButton: '#back-link',
				title: '.main-content-title'
			});
		
			setTimeout(function () { rotate('MainScreenTop'); }, @ViewBag.TopAdvertisement.Duration.TotalMilliseconds);
			setTimeout(function () { rotate('MainScreenBottom'); }, @ViewBag.BottomAdvertisement.Duration.TotalMilliseconds);
		
			// отсылаем данные в GA
			if (_gaq) {
				_gaq.push(['_trackEvent', 'Images', 'Show', '@ViewBag.TopAdvertisement.Name']);
				_gaq.push(['_trackEvent', 'Images', 'Show', '@ViewBag.BottomAdvertisement.Name']);
			}
		});
					
		function rotate(place) {
			Animation.fadeOut('#' + place);
			$.post('/Main/Rotate', { place: place }, function (data) {
				// отсылаем данные в GA
				if (_gaq) {
					_gaq.push(['_trackEvent', 'Images', 'Show', data.name]);
				}
			
				setTimeout(function () {
					$('#' + place).attr('src', data.imageSource);
					Animation.fadeIn('#' + place);
					setTimeout(function () { rotate(place); }, data.duration);
				}, 1000);
			});
		}
	</script>
}
