@using MarketGid.Core.Models

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<title></title>
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	<link href="~/Content/ui-darkness/jquery-ui-1.10.3.css" rel="stylesheet" />
	<link href="~/Content/animate.css" rel="stylesheet" />
	<link href="~/Content/styles.css" rel="stylesheet" />
	<link href="~/Content/keyboard.css" rel="stylesheet" />
	<link href="~/Content/antiscroll.css" rel="stylesheet" />

	<script type="text/javascript" src="~/Scripts/jquery-2.0.3.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery-ui-1.10.3.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
	<script type="text/javascript" src="~/Scripts/jquery.keyboard.js"></script>
	<script type="text/javascript" src="~/Scripts/kinetic-v4.7.4.js"></script>
	<script type="text/javascript" src="~/Scripts/animation.js"></script>
	<script type="text/javascript" src="~/Scripts/antiscroll.js"></script>
	<script type="text/javascript" src="~/Scripts/menu.js"></script>
	<script type="text/javascript" src="~/Scripts/lifetime.js"></script>
	
	<script type="text/javascript" src="~/Scripts/video.js"></script>
	<script type="text/javascript" src="~/Scripts/map.js"></script>
	<script type="text/javascript" src="~/Scripts/graph.js"></script>
	<script type="text/javascript" src="~/Scripts/map-manager.js"></script>
	<script type="text/javascript" src="~/Scripts/edges.js"></script>
	<script type="text/javascript" src="~/Scripts/paths.js"></script>
	<script type="text/javascript" src="~/Scripts/junctions.js"></script>
	<script type="text/javascript" src="~/Scripts/maps.js"></script>
	
</head>
<body class="animated fadeIn">
	<div class="container">
		<div class="main-header">
			<img src="~/Content/images/top.png" />
		</div>
		<div class="main-content-container">	
			<div class="main-content">
				<div class="main-content-title">
					@Html.Partial("_Title")
				</div>
				<div class="main-container">
					<div class="main-menu" id="container">
						@RenderBody()
					</div>
				</div>
			</div>
		</div>
		<div class="main-footer">
			<img src="~/Content/images/bottom.png" />
		</div>
	</div>

	<script type="text/javascript">
	 	var pageLifetime = new Lifetime();

		$(document).ready(function () {
			pageLifetime.init();
		});
	</script>
	
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-44339793-1']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
	
	<script type="text/javascript">
		$(document).ready(function () {
			Menu.init({
				mainMenuUri: '@Url.Content("~/main/category/")',
				subMenuUri: '@Url.Content("~/main/category/")',
				titleUri: '@Url.Content("~/main/title")',
				objectUri: '@Url.Content("~/main/object/")',
				objectDetailsUri: '@Url.Content("~/main/objectdetails/")',
				homeUri: '@Url.Content("~/home")',
				findUri: '@Url.Content("~/main/find")',
				thumbnailsContainer: '.thumbnails',
				thumbnails: '.mgid-thumb',
				backButton: '#back-link',
				title: '.main-content-title'
			});
		
			$('.antiscroll-wrap').antiscroll();
		
			@if (ViewBag.TopAdvertisement != null) {
				<text>
			setTimeout(function () { 
				rotate('MainScreenTop'); 
			}, @ViewBag.TopAdvertisement.Duration.TotalMilliseconds);
				</text>
			}

	 		@if (ViewBag.BottomAdvertisement != null) {
	 			<text>
			setTimeout(function () { 
				rotate('MainScreenBottom'); 
			}, @ViewBag.BottomAdvertisement.Duration.TotalMilliseconds);
				</text>
			}
		
			// отсылаем данные в GA
			if (_gaq) {
				@if (ViewBag.TopAdvertisement != null) {
					<text>
				var catName = '@ViewBag.TopAdvertisement.GAEventCategory';
				_gaq.push(['_trackEvent', catName, 'Show', '@ViewBag.TopAdvertisement.Name']);
					</text>
				}
				@if (ViewBag.BottomAdvertisement != null) {
					<text>
				var catName2 = '@ViewBag.BottomAdvertisement.GAEventCategory';
				_gaq.push(['_trackEvent', catName2, 'Show', '@ViewBag.BottomAdvertisement.Name']);
					</text>
				}
			}
		});
					
		function rotate(place) {
			Animation.fadeOut('#' + place);
			$.post('/Main/Rotate', { place: place }, function (data) {
				$('#' + place).parent().html(data);
			});
		}
		
		function removePlayer(playerId) {
			var videoEl = $('#' + playerId);
			if (videoEl.length > 0) {
				var player = _V_(playerId);
				if (player.techName === 'html5') {
					player.tag.src = '';
					player.tech.removeTriggers();
					player.load();
				}
				player.dispose();
				$(player.el).remove();
			}			
		}
		
		function startPlayer(playerId) {
			_V_(playerId).ready(function () {
				this.width(1040);
				this.height(385);
				this.play();
			});
		}
	</script>

	@RenderSection("scripts", false)
</body>
</html>
