<div class="mgid-map-control-panel">
	<div class="mgid-map-control-btn">
		<img class="mgid-map-plus" src="~/Content/images/black_plus.png" alt="plus" />
		Увеличить
	</div>
    
	<div class="mgid-map-control-btn">
		<img class="mgid-map-minus" src="~/Content/images/black_minus.png" alt="minus" />
		Уменьшить
	</div>
    
	<div class="mgid-map-control-btn">
		<img class="mgid-map-up" src="~/Content/images/black_arrow_up.png" alt="up" />
		Вверх
	</div>
    
	<div class="mgid-map-control-btn">
		<img class="mgid-map-down" src="~/Content/images/black_arrow_down.png" alt="midownnus" />
		Вниз
	</div>
    
	<div class="mgid-map-control-btn">
		<img class="mgid-map-left" src="~/Content/images/black_arrow_left.png" alt="left" />
		Влево
	</div>
    
	<div class="mgid-map-control-btn">
		<img class="mgid-map-right" src="~/Content/images/black_arrow_rigth.png" alt="right" />
		Вправо
	</div>
</div>
<div id="map" class="mgid-map">
</div>
<div class="mgid-panel">
	@Html.Partial("_Details")
</div>

<script type="text/javascript" src="~/Scripts/edges.js"></script>
<script type="text/javascript" src="~/Scripts/paths.js"></script>
<script type="text/javascript" src="~/Scripts/junctions.js"></script>
<script type="text/javascript" src="~/Scripts/maps.js"></script>

<script type="text/javascript">
	var kioskOptions = {
		x: @ViewBag.Kiosk.X,
		y: @ViewBag.Kiosk.Y,
		mapName: '@ViewBag.Kiosk.Map'
	};
	var mapManager = null;
	
	function togglePanel() {
		var panel = $('.mgid-panel');
		panel.toggleClass('visible mgid-large-text');
		if (panel.hasClass('visible')) {
			panel.find('img:first-child').attr('src', '@Url.Content("~/Content/images/white_arrow_down.png")');
			panel.find('.mgid-panel-header small').text('скрыть');
			//$('.antiscroll-wrap').antiscroll({ autoHide: false });
			//panel.find('.antiscroll-wrap').css('height', '485px').css('width', '850px');
		} else {
			panel.find('img:first-child').attr('src', '@Url.Content("~/Content/images/white_arrow_up.png")');
			panel.find('.mgid-panel-header small').text('подробнее');
		}
	}

	$(document).ready(function () {
		$('.mgid-panel').click(function () {
			togglePanel();
		});

		mapManager = new MapManager({
			kioskPosition: kioskOptions
		});
		mapManager.navigateTo('@ViewBag.MapObject.Name', kioskOptions);
		mapManager.objectSelected = function (obj) {
			if (obj != null && obj.objectId != undefined) {
				Menu.showObjectTitle(obj.objectId);
				Menu.showObjectDetails(obj.objectId);
			}
		};
		
        $('.mgid-map-plus') .click(function () {
            mapManager.scaleUp();
        });
        $('.mgid-map-minus').click(function () {
            mapManager.scaleDown();
        });
        $('.mgid-map-up')   .click(function () {
            mapManager.moveUp();
        });
        $('.mgid-map-down') .click(function () {
            mapManager.moveDown();
        });
        $('.mgid-map-left') .click(function () {
            mapManager.moveLeft();
        });
        $('.mgid-map-right').click(function () {
            mapManager.moveRight();
        });
	});
</script>

