@using MarketGid.Core.Models

@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="main-header">
	<img src="@Url.Content(ViewBag.TopAdvertisement.Uri)" alt="top advertisement" />
</div>
<div class="main-content">
	<div class="main-content-title">
		<a href="~/main" id="back-link"><img src="~/Content/images/black_arrow_left.png" alt="Back" /></a> <span id="title">@ViewBag.MapObject.Name</span>
	</div>
	<div class="main-container">
		<div class="main-menu" style="padding-left: 110px;">
			<div style="height: 820px;">
				<canvas id="map" width="910" height="820" class="mgid-map"></canvas>
			</div>
			<div class="mgid-panel">
				<h2><img src="~/Content/images/white_arrow_up.png" alt="btn" /> Информация</h2>
				<span id="description">
				@Html.Raw(ViewBag.MapObject.Description)
				</span>
			</div>
		</div>
	</div>
</div>
<div class="main-footer">
	<img src="@Url.Content(ViewBag.BottomAdvertisement.Uri)" alt="bottom advertisement" />
</div>

<script type="text/javascript">
	
	function togglePanel() {
		var panel = $('.mgid-panel');
		panel.toggleClass('visible mgid-large-text');
		if (panel.hasClass('visible')) {
			panel.find('img:first-child').attr('src', '@Url.Content("~/Content/images/white_arrow_down.png")');
		} else {
			panel.find('img:first-child').attr('src', '@Url.Content("~/Content/images/white_arrow_up.png")');
		}
	}

	$(document).ready(function () {
		$('.mgid-panel').click(function () {
			togglePanel();
		});


		var canvas = document.getElementById('map');
		var context = canvas.getContext('2d');
		
		// width: 910, height: 820
		
		// butt line cap (top line)
		context.beginPath();
		context.shadowColor = '#999';
		context.shadowBlur = 20;
		context.shadowOffsetX = 5;
		context.shadowOffsetY = 15;		

		context.moveTo(200, canvas.height / 2 - 50);
		context.lineTo(canvas.width - 200, canvas.height / 2 - 50);
		context.lineWidth = 20;
		context.strokeStyle = '#0000ff';
		context.lineCap = 'butt';
		context.stroke();

		// round line cap (middle line)
		context.beginPath();
		context.moveTo(200, canvas.height / 2);
		context.lineTo(canvas.width - 200, canvas.height / 2);
		context.lineWidth = 20;
		context.strokeStyle = '#0000ff';
		context.lineCap = 'round';
		context.stroke();

		// square line cap (bottom line)
		context.beginPath();
		context.moveTo(200, canvas.height / 2 + 50);
		context.lineTo(canvas.width - 200, canvas.height / 2 + 50);
		context.lineWidth = 20;
		context.strokeStyle = '#0000ff';
		context.lineCap = 'square';
		context.stroke();
		

	});
</script>
