@using MarketGid.Core.Models

@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="main-header">
	<img src="@Url.Content(ViewBag.TopAdvertisement.Uri)" alt="top advertisement" />
</div>
<div class="main-content">
	<div class="main-content-title">
		<a href="~/main" id="back-link"><img src="~/Content/images/black_arrow_left.png" alt="Back" /></a> <span id="title">@ViewBag.MapObject.Name</span>
	</div>
	<div class="main-container">
		<div class="main-menu" style="padding-left: 110px;">
			<div id="map" class="mgid-map">
			</div>
			<div class="mgid-panel">
				<h2><img src="~/Content/images/white_arrow_up.png" alt="btn" /> Информация</h2>
				<span id="description">
				@Html.Raw(ViewBag.MapObject.Description)
				</span>
			</div>
		</div>
	</div>
</div>
<div class="main-footer">
	<img src="@Url.Content(ViewBag.BottomAdvertisement.Uri)" alt="bottom advertisement" />
</div>

<script type="text/javascript" src="~/Scripts/paths.js"></script>
<script type="text/javascript" src="~/Scripts/map.js"></script>

<script type="text/javascript">
	
	function togglePanel() {
		var panel = $('.mgid-panel');
		panel.toggleClass('visible mgid-large-text');
		if (panel.hasClass('visible')) {
			panel.find('img:first-child').attr('src', '@Url.Content("~/Content/images/white_arrow_down.png")');
		} else {
			panel.find('img:first-child').attr('src', '@Url.Content("~/Content/images/white_arrow_up.png")');
		}
	}

	$(document).ready(function () {
		$('.mgid-panel').click(function () {
			togglePanel();
		});

		Map.init();
	});
</script>
